/* Container principal */
.main-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #273523;
}
  
  /* Imagem de fundo */
  .background-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
    z-index: 1;
  }
  
  /* Conteúdo principal */
  .content {
    margin: 50px 150px;
    position: relative;
    z-index: 10;
    width: 100%;
    text-align: left;
    color: white;
}
  
  /* Logo */
  .logo {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  
  .cart-icon {
    height: 40px;
    width: 40px;
  }
  
  /* Título */
  .listify {
    font-size: 35px;
    font-weight: 800;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    letter-spacing: 6px;
  }
  
  /* Cabeçalho principal */
  .main-heading {
    font-size: 80px;
    font-weight: 700;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    width: 100%;
}
  
  /* Subtítulo */
  .subheading {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    margin-bottom: 1.5rem;
  }
  
  /* Botão */
  .btn-enter {
    background-color: #426b1f;
    color: white;
    padding: 20px 120px;
    border-radius: 9999px;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
  .btn-enter:hover {
    background-color: #365315;
  }  